.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 230px;

  @media (min-width: $min-width-desktop) {
    padding: 40px 0;
  }
}

.price__old-price {
  font-size: 16px;
  line-height: 32px;
  color: $color-primary;
  text-decoration: line-through;
}

.price__new-price {
  margin-left: 3px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.price__button {
  min-width: 113px;
  min-height: 40px;
  text-align: center;
  box-sizing: border-box;
}
