$back-color-basic: #ffffff;
$back-color-header: #f0ebff;
$back-color-secondary: #f8f8f8;
$back-color-flat-white: #f3ebe1;
$back-color-lavender: #eae6fc;
$back-color-espresso: #e5e6e8;
$back-color-primary-lighter: #9070ec;
$back-color-primary-darker: #593cac;
$back-color-light-grey: #e2e2e2;

$color-basic: #333333;
$color-primary: #7859cf;
$color-secondary: #ffffff;
$color-grey: #bdbdbd;

$font-montserrat: "Montserrat", "Areal", sans-serif;

$border-basic: 1px solid #f0ebff;
$border-primary: 2px solid #7859cf;
$border-primary-lighter: 2px solid #9070ec;
$border-grey: 2px solid #bdbdbd;
$border-light-grey: 2px solid #e2e2e2;

$min-width-tablet: 768px;
$min-width-desktop: 1440px;
